html {
  background-color: #202333;
}

html, body {
  margin: 0;
  padding: 0;

  position: relative;
  top: 0px;
  bottom: 0px;

  width: 100%;
  height: 100%;
}

body:before {
  position: fixed;
  top: 0px;
  left: 0px;

  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;

  filter: blur(10px);
}
