@font-face {
  font-family: "M+ 1m";
  src: url('resources/fonts/mplus-1m-light.ttf');
}

body {
  background-color: #131313;
}

::-webkit-scrollbar {
  width: 4px;
  height: 85px;
  background-color: #283187;
}

::-webkit-scrollbar-thumb {
  background-color: #2c46b4;
}

#lower-third {
  background-color: #060a25;

  color: #34aaff;

  position: absolute;
  left: 0px;
  bottom: 0px;

  width: 100%;

  margin-bottom: 35px;
}

#repl, #log {
  display: none;
}

#lower-third-footer {
  background-image: linear-gradient( 0deg, #283187, #2c46b4 );

  box-shadow: 0px 0px 10px #383f96;

  width: 100%;
  height: 35px;

  display: inline-block;

  position: fixed;
  bottom: 0px;
  left: 0px;
}

#repl-scroll-box, #log-scroll-box {
  height: 450px;
}

#repl {
  background-color: #060a25;
}

#repl-output, #log-output {
  max-height: 425px;
  width: 100%;
  overflow-y: scroll;

  position: absolute;
  padding: 0px;
}

#repl-output, #log-output {
  margin-bottom: 25px;
  bottom: 0px;
}

#log {
  background-color: #0d000d;
}

#repl-output pre, #log-output pre, #repl-input {
  font-family: "M+ 1m", monospace;
  font-size: 15px;

  margin: 0px;
  padding: 0px;
}

pre.input {
  color: #12e6c6;
}

pre.error {
  color: #f16349;
}

pre.log {
  color: #b0eb0c;
}

#repl-input {
  background-color: transparent;
  border: none;

  position: absolute;
  bottom: 5px;

  width: 1000px;
  /*height: 20px;*/

  resize: none;

  color: #12e6e6;
}

#repl-input:focus {
  outline-width: 0;
}

.footer-list {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#left-footer {
  float: left;
}

#left-footer li {
  border-width: 0px 1px 0px 0px;
}

#right-footer li {
  border-width: 0px 0px 0px 1px;
}

#right-footer {
  float: right;
}

.footer-list li {
  border-style: solid;
  border-image: linear-gradient( 0deg, #3347f8, #606afd ) 1;

  display: inline-block;

  width: 25px;
  height: 25px;

  padding: 5px;

  text-align: center;
}
