@font-face {
  font-family: "M+ 1m";
  src: url('../fonts/mplus-1m-light.ttf');
}

html, body, #panel {
  height: 100%;

  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}

#panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 35px;
  grid-template-areas:
    "patch"
    "console"
    "footer"
}

@media screen and (min-width: 800px) {
  #panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 35px;
    grid-template-areas:
      "patch   patch"
      "console console"
      "footer  footer"
  }
}

#console {
  background-color: #060a25;
  grid-area: console;
}

#footer {
  background-image: linear-gradient( 0deg, #283187, #2c46b4 );

  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "left right";

  box-shadow: 0px 0px 10px #383f96;

  grid-area: footer;
}

#console {
  overflow-x: scroll;
  overflow-y: scroll;

  padding: 5px;
}

#console-output {
  width: 100%;

  padding: 0px;
}

#console pre, #console-input {
  font-family: "M+ 1m", monospace;
  font-size: 15px;

  margin: 0px;
  padding: 0px;
}

.input { color: #12e6c6; }
.output { color: #34aaff; }
.error { color: #f16349; }
.log { color: #89eb0c; }

#console-input {
  background-color: transparent;
  border: none;

  width: 100%;
  resize: none;
}

#console-input:focus {
  outline-width: 0;
}

.footer-list {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#left-footer {
  grid-area: left;
}

#right-footer {
  grid-area: right;
  text-align: right;
}

#left-footer li {
  border-width: 0px 1px 0px 0px;
}

#right-footer li {
  border-width: 0px 0px 0px 1px;
}

.footer-list li {
  border-style: solid;
  border-image: linear-gradient( 0deg, #3347f8, #606afd ) 1;

  display: inline-block;

  width: 25px;
  height: 25px;

  padding: 5px;

  text-align: center;
}
